<!DOCTYPE html>
<html>
  <head>
    <title>NewsPresenter</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><%= action_name == 'new' ? 'Авторская новость' : 'Новость дня' %></a>
        <% if user_signed_in? %>
          <ul class="right hide-on-med-and-down">
            <li><%= link_to 'К новостям', root_path %></li>
            <li><%= link_to 'Выход', destroy_user_session_path, method: :delete %></li>
          </ul>
          <ul id="nav-mobile" class="side-nav">
            <li><%= link_to 'К новостям', root_path %></li>
            <li><%= link_to 'Выход', destroy_user_session_path, method: :delete %></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <% end %>
      </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <div class="row">

            <%= yield %>

        </div>
      </div>
    </div>
  </body>
</html>
